/* Add CSS Styling */

.odds {
  background-color: rgb(234, 162, 162);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-change {
  font-size: 24px;
}

#second {
  color: rgb(0,0,255);
  font-size: 36px;
}

#fourth {
  background-color: rgb(171, 255, 133);
  font-weight: bold;
}