body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 900;
  height: 72px;
  background: darkmagenta;
  color: white;
  padding: 16px;
  flex: none;
}

.content {
  display: flex;
  flex: auto;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  align-content: center;
  flex: none;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: none;
  font-size: 24px;
  padding: 16px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 30px;
  align-items: stretch;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  width: 300px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  flex: initial;
}